/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:31:26 AM
    Author     : rsee
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:33:03 AM
    Author     : rsee
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:32:51 AM
    Author     : rsee
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:33:03 AM
    Author     : rsee
*/
.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 1050px; } }
@media (min-width: 1200px) {
  .container {
    width: 1050px; } }
.row {
  margin-left: 15px;
  margin-right: 15px; }

.container:before, .container:after, .row:before, .row:after {
  display: table;
  content: " "; }

.container:after, .row:after {
  clear: both; }

.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

@media (min-width: 768px) {
  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }

  .col-sm-1 {
    width: 55px; }

  .col-sm-2 {
    width: 140px; }

  .col-sm-3 {
    width: 225px; }

  .col-sm-4 {
    width: 310px; }

  .col-sm-5 {
    width: 395px; }

  .col-sm-6 {
    width: 480px; }

  .col-sm-7 {
    width: 565px; }

  .col-sm-8 {
    width: 650px; }

  .col-sm-9 {
    width: 735px; }

  .col-sm-10 {
    width: 820px; }

  .col-sm-11 {
    width: 905px; }

  .col-sm-12 {
    width: 990px; } }
@media (min-width: 992px) {
  .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline; }

  .col-md-1 {
    width: 55px; }

  .col-md-2 {
    width: 140px; }

  .col-md-3 {
    width: 225px; }

  .col-md-4 {
    width: 310px; }

  .col-md-5 {
    width: 395px; }

  .col-md-6 {
    width: 480px; }

  .col-md-7 {
    width: 565px; }

  .col-md-8 {
    width: 650px; }

  .col-md-9 {
    width: 735px; }

  .col-md-10 {
    width: 820px; }

  .col-md-11 {
    width: 905px; }

  .col-md-12 {
    width: 990px; }

  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }

  .col-lg-1 {
    width: 55px; }

  .col-lg-2 {
    width: 140px; }

  .col-lg-3 {
    width: 225px; }

  .col-lg-4 {
    width: 310px; }

  .col-lg-5 {
    width: 395px; }

  .col-lg-6 {
    width: 480px; }

  .col-lg-7 {
    width: 565px; }

  .col-lg-8 {
    width: 650px; }

  .col-lg-9 {
    width: 735px; }

  .col-lg-10 {
    width: 820px; }

  .col-lg-11 {
    width: 905px; }

  .col-lg-12 {
    width: 990px; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 1:14:48 PM
    Author     : rsee
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:33:03 AM
    Author     : rsee
*/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.large-text-size {
  font-size: 37px; }

.medium-text-size {
  font-size: 22px; }

.small-text-size {
  font-size: 13px; }

.visible-xs-block,
.visible-sm-block {
  display: none !important; }

.clear {
  clear: both; }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
body {
  color: #8899A7;
  font-family: "Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 15px;
  margin: 0;
  background: #E9EAED; }

a {
  text-decoration: none; }

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

button.custom-button, a.custom-button {
  color: #007EE5 !important;
  text-decoration: none !important;
  background-color: #fff;
  border-color: #0053BF;
  font-size: 1.2em;
  padding: 20px 95px; }
  button.custom-button:hover, button.custom-button:focus, button.custom-button:active, a.custom-button:hover, a.custom-button:focus, a.custom-button:active {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333; }

button.default-button, a.default-button {
  color: #007EE5 !important;
  text-decoration: none !important;
  background-color: #fff;
  border-color: #007EE5; }
  button.default-button:hover, button.default-button:focus, button.default-button:active, a.default-button:hover, a.default-button:focus, a.default-button:active {
    background-color: #007EE5;
    border-color: #007EE5;
    color: white !important; }

button.custom-blue-button, a.custom-blue-button {
  color: white !important;
  text-decoration: none !important;
  background-color: #007EE5;
  border-color: #007EE5;
  font-size: 1em;
  padding: 15px 90px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666; }
  button.custom-blue-button:hover, button.custom-blue-button:focus, button.custom-blue-button:active, a.custom-blue-button:hover, a.custom-blue-button:focus, a.custom-blue-button:active {
    background-color: white;
    border-color: #007EE5;
    color: #007EE5 !important; }

.container {
  background: white;
  border-left: 1px solid #dfe0e4;
  border-right: 1px solid #dfe0e4; }

.container.header {
  color: white;
  background: #007EE5;
  position: relative;
  overflow: hidden; }
  .container.header > .row {
    z-index: 2;
    position: relative; }
  .container.header img.bg-image {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0;
    -webkit-animation: slidein 1s ease-in 1s forwards;
    -moz-animation: slidein 1s ease-in 1s forwards;
    animation: slidein 1s ease-in 1s forwards; }
  .container.header a {
    color: white; }
  .container.header .menu-column {
    padding-top: 50px; }
    .container.header .menu-column img.logo {
      width: 38px; }
    .container.header .menu-column ul {
      padding-left: 0;
      margin-top: 30px; }
      .container.header .menu-column ul li {
        list-style: none;
        padding-bottom: 15px; }
        .container.header .menu-column ul li a.active {
          font-weight: 600; }
  .container.header .center-column {
    padding-top: 70px;
    padding-bottom: 70px; }
    .container.header .center-column .inner-wrapper {
      padding: 0px 0px; }
      .container.header .center-column .inner-wrapper a {
        color: white;
        text-decoration: underline; }
      .container.header .center-column .inner-wrapper .custom-button {
        margin: 20px 0; }
      .container.header .center-column .inner-wrapper .slogan {
        display: block; }

.container.business {
  padding-top: 80px;
  padding-bottom: 60px;
  border-bottom: 1px solid #4C545A; }
  .container.business .dropbox-business-features {
    margin-top: 25px;
    margin-bottom: 45px; }
    .container.business .dropbox-business-features .feature-title {
      margin-top: 10px;
      margin-bottom: 10px; }
    .container.business .dropbox-business-features .feature-desc {
      line-height: 25px; }
    .container.business .dropbox-business-features img {
      width: 200px;
      height: 182px; }
  .container.business #key.reset, .container.business #watch.reset, .container.business #devices.reset {
    -moz-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -moz-filter linear;
    -webkit-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -webkit-filter linear;
    -ms-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -ms-filter linear;
    -o-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -o-filter linear;
    transition: margin-left 1s ease-in, opacity 1s ease-in, 1s filter linear;
    -moz-transition: all 0.5s cubic-bezier(0.63, 0.01, 0.52, 1.56);
    -webkit-transition: all 0.5s cubic-bezier(0.63, 0.01, 0.52, 1.56);
    -ms-transition: all 0.5s cubic-bezier(0.63, 0.01, 0.52, 1.56);
    -o-transition: all 0.5s cubic-bezier(0.63, 0.01, 0.52, 1.56);
    transition: all 0.5s cubic-bezier(0.63, 0.01, 0.52, 1.56); }

.container.carousel {
  padding-top: 80px;
  padding-bottom: 60px; }
  .container.carousel .inner-wrapper {
    width: 100%;
    display: inline-block; }
  .container.carousel .carousel-wrapper {
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative; }
    .container.carousel .carousel-wrapper .slides-wrapper, .container.carousel .carousel-wrapper .next, .container.carousel .carousel-wrapper .prev {
      display: inline-block; }
    .container.carousel .carousel-wrapper .slides-wrapper {
      background: none repeat scroll 0% 0% transparent;
      overflow: hidden;
      position: relative;
      width: 100%; }
      .container.carousel .carousel-wrapper .slides-wrapper ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        position: relative;
        transform: translateZ(0px);
        height: 300px; }
        .container.carousel .carousel-wrapper .slides-wrapper ul li {
          position: absolute;
          top: 0px;
          width: 100%;
          margin-left: 100%; }
          .container.carousel .carousel-wrapper .slides-wrapper ul li img {
            width: 100%; }
    .container.carousel .carousel-wrapper .prev {
      position: absolute;
      left: 15%;
      top: 35%;
      z-index: 999; }
      .container.carousel .carousel-wrapper .prev img {
        background: #FFF;
        padding: 20px 5px;
        opacity: 0.7; }
    .container.carousel .carousel-wrapper .next {
      position: absolute;
      right: 15%;
      top: 35%;
      z-index: 999; }
      .container.carousel .carousel-wrapper .next img {
        background: #FFF;
        padding: 20px 5px;
        opacity: 0.7; }
    .container.carousel .carousel-wrapper .bullets-wrapper {
      margin-top: 10px; }
      .container.carousel .carousel-wrapper .bullets-wrapper ol.bullets {
        display: block;
        float: none;
        margin: 0px auto 30px;
        overflow: hidden;
        position: relative;
        text-align: center;
        top: 10px; }
        .container.carousel .carousel-wrapper .bullets-wrapper ol.bullets li {
          background: #007EE5;
          cursor: pointer;
          display: inline-block;
          float: none;
          height: 16px;
          margin-right: 30px;
          width: 16px;
          border-radius: 100px; }
          .container.carousel .carousel-wrapper .bullets-wrapper ol.bullets li.active {
            background: #4C545A; }
  .container.carousel .carousel-text {
    margin-bottom: 45px;
    width: 100%;
    display: inline-block;
    line-height: 25px; }

.container.video {
  background: url(../assets/video-still.jpg) no-repeat top center;
  height: 500px;
  vertical-align: middle; }
  .container.video img.play-button {
    position: relative;
    top: 200px;
    cursor: pointer; }
  .container.video button.play-button {
    position: relative;
    cursor: pointer;
    top: 200px;
    width: 106px;
    height: 106px;
    border: none;
    background: url(../assets/player_large.png) no-repeat;
    text-indent: -99999px; }
    .container.video button.play-button:hover {
      opacity: 0.5; }
  .container.video .video-container {
    background: black;
    height: 100%;
    width: 100%;
    padding-top: 70px; }
    .container.video .video-container video {
      width: 100%;
      max-height: 100%; }

.container.team-in-sync {
  padding-top: 60px;
  padding-bottom: 75px; }
  .container.team-in-sync .custom-blue-button {
    margin-top: 35px;
    margin-bottom: 30px; }
  .container.team-in-sync a {
    color: #8899A7; }

footer .container.footer {
  font-size: 18px;
  line-height: 40px;
  padding-top: 55px;
  padding-bottom: 110px;
  border-top: 1px solid #4C545A; }
  footer .container.footer .footer-section-title {
    color: #4C545A;
    font-weight: bold; }
  footer .container.footer ul {
    padding-left: 0; }
    footer .container.footer ul li {
      list-style: none; }
      footer .container.footer ul li a {
        color: #4C545A; }
  footer .container.footer a.lang-selector {
    color: #4C545A; }

.navigation-menu {
  min-height: 50px;
  border-bottom: 1px solid white;
  background: #4C545A;
  padding: 10px 15px; }
  .navigation-menu .brand {
    float: right; }
    .navigation-menu .brand img {
      height: 40px; }
  .navigation-menu button.hamburger-button {
    display: inline;
    border: 1px solid white;
    color: #4C545A;
    background: white;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer; }
    .navigation-menu button.hamburger-button:hover {
      background: #EEE;
      border-color: #EEE; }

.offcanvas-menu {
  width: 300px;
  min-width: 300px;
  background: #4C545A;
  position: fixed;
  z-index: 1050;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
  border-radius: 0px;
  height: auto;
  padding: 20px 0px;
  font-size: 18px;
  border-right: 1px solid #777;
  left: -300px; }
  .offcanvas-menu.in {
    -webkit-animation: menuin .5s ease-in-out;
    -moz-animation: menuin .5s ease-in-out;
    animation: menuin .5s ease-in-out;
    left: 0px; }
  .offcanvas-menu.out {
    -webkit-animation: menuout .5s ease-in-out;
    -moz-animation: menuout .5s ease-in-out;
    animation: menuout .5s ease-in-out;
    left: -300px; }
  .offcanvas-menu a.brand {
    display: block;
    padding: 10px 15px;
    font-size: 20px;
    float: left; }
  .offcanvas-menu a {
    color: white; }
  .offcanvas-menu ul {
    padding-left: 0px; }
    .offcanvas-menu ul li {
      list-style: none;
      padding: 10px 0; }
      .offcanvas-menu ul li.active {
        background: #000; }
      .offcanvas-menu ul li:hover {
        background: #007EE5; }
      .offcanvas-menu ul li a {
        padding: 0 15px; }
  .offcanvas-menu button.close-button {
    display: block;
    border: none;
    color: white;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    margin-right: 10px;
    float: right; }

@media (max-width: 991) {
  .container.business {
    margin-left: 15px; }

  #devices {
    position: relative;
    margin-left: 0px;
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px); }

  #watch {
    position: relative;
    margin-left: 0px;
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px); }

  #key {
    position: relative;
    margin-left: 0px;
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px); } }
@media (min-width: 768px) {
  .container.header .center-column {
    padding-top: 100px;
    padding-bottom: 180px; }
    .container.header .center-column .inner-wrapper {
      padding: 0 110px; }

  .container.video .video-container {
    padding-top: 20px; }

  .container.carousel .inner-wrapper {
    width: 40%; }
  .container.carousel .carousel-text {
    width: 40%; }

  footer .container.footer {
    font-size: 13px;
    line-height: 25px; } }
@media (min-width: 992px) {
  .container.video .video-container {
    padding: 0px; }

  .container.carousel .carousel-wrapper .slides-wrapper {
    width: 540px; }
  .container.carousel .carousel-wrapper .prev img {
    opacity: 1; }
  .container.carousel .carousel-wrapper .next img {
    opacity: 1; }

  .dropbox-business-features {
    margin-left: -170px; }
    .dropbox-business-features.normal {
      margin-left: 15px; }
      .dropbox-business-features.normal #devices {
        position: relative;
        margin-left: 0px;
        opacity: 1;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px); }
      .dropbox-business-features.normal #watch {
        position: relative;
        margin-left: 0px;
        opacity: 1;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px); }
      .dropbox-business-features.normal #key {
        position: relative;
        margin-left: 0px;
        opacity: 1;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px); }

  #devices {
    position: relative;
    margin-left: 90px;
    opacity: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px); }

  #watch {
    position: absolute;
    margin-left: 420px;
    opacity: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px); }

  #key {
    position: absolute;
    margin-left: 750px;
    opacity: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px); } }
/*
 * Retina display
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .container.video {
    background-image: url("../assets/video-still@2x.jpg");
    background-size: 1500px 500px; }
    .container.video button.play-button {
      width: 105px;
      height: 105px;
      background-image: url("../assets/player_large@2x.png");
      background-size: 105px 105px; } }
/*
 * Animations
*/
@-webkit-keyframes slidein {
  from {
    top: 500px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
@-moz-keyframes slidein {
  from {
    top: 500px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
@keyframes slidein {
  from {
    top: 500px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
@-webkit-keyframes menuin {
  from {
    left: -300px; }
  to {
    left: 0px; } }
@-moz-keyframes menuin {
  from {
    left: -300px; }
  to {
    left: 0px; } }
@keyframes menuin {
  from {
    left: -300px; }
  to {
    left: 0px; } }
@-webkit-keyframes menuout {
  from {
    left: 0px; }
  to {
    left: -300px; } }
@-moz-keyframes menuout {
  from {
    left: 0px; }
  to {
    left: -300px; } }
@keyframes menuout {
  from {
    left: 0px; }
  to {
    left: -300px; } }

/*# sourceMappingURL=dropbox.css.map */
