/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:31:26 AM
    Author     : rsee
*/

@import "variables", "grids", "util"; 

body {
    color: $body-text-color;
    font-family: "Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: $default-text-size;
    margin: 0;
    background: #E9EAED;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button.custom-button, a.custom-button {
    color: $primary-color !important;
    text-decoration: none !important;
    background-color: #fff;
    border-color: $dark-blue;
    font-size: 1.2em;
    padding: 20px 95px;
    
    &:hover, &:focus, &:active {
        background-color: #e6e6e6;
        border-color: #adadad;
        color: #333;
    }
}

button.default-button, a.default-button {
    color: $primary-color !important;
    text-decoration: none !important;
    background-color: #fff;
    border-color: $primary-color;
    
    &:hover, &:focus, &:active {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white !important;
    }
}

button.custom-blue-button, a.custom-blue-button {
    color: white !important;
    text-decoration: none !important;
    background-color: $primary-color;
    border-color: $primary-color;
    font-size: 1em;
    padding: 15px 90px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    
    &:hover, &:focus, &:active {
        background-color: white;
        border-color: $primary-color;
        color: $primary-color !important;
    }
}
.container {
    background: white;
    border-left: 1px solid #dfe0e4;
    border-right: 1px solid #dfe0e4;
    
}

.container.header {
    color: white;
    background: $primary-color;
    position: relative;
    overflow: hidden;
    
    > .row {
        z-index: 2;
        position: relative;
    }
    
    img.bg-image {
        position: absolute;
        left: 0;
        top: 0px;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0;
        
        -webkit-animation: slidein 1s ease-in 1s forwards;
        -moz-animation: slidein 1s ease-in 1s forwards;
        animation: slidein 1s ease-in 1s forwards;
    }
    
    a {
        color: white;
    }
    
    .menu-column {
        padding-top: 50px;
        
        img.logo {
            width: 38px;
        }
        
        ul {
            padding-left: 0;
            margin-top: 30px;
            li {
                list-style: none;
                padding-bottom: 15px;
                a { 
                    &.active {
                        font-weight: 600;
                    }
                }
                
            }
        }
    }
    
    .center-column {
        padding-top: 70px;
        padding-bottom: 70px;
        
        .inner-wrapper {
            padding: 0px 0px;
            
            a {
                color: white;
                text-decoration: underline;
            }
            
            .custom-button {
                margin: 20px 0;
            }
            
            .slogan {
                display: block;
            }
        }
    }
}

.container.business {
    padding-top: 80px;
    padding-bottom: 60px;
    border-bottom: 1px solid $tertiary-color;
    
    .dropbox-business-features {
        margin-top: 25px;
        margin-bottom: 45px;
        
        .feature-title {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .feature-desc {
            line-height: 25px;
        }
        
        img {
            width: 200px;
            height: 182px;
        }
    }
    
    #key.reset, #watch.reset, #devices.reset {
        -moz-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -moz-filter linear; 
        -webkit-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -webkit-filter linear;  
        -ms-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -ms-filter linear;  
        -o-transition: margin-left 1s ease-in, opacity 1s ease-in, 1s -o-filter linear;  
        transition: margin-left 1s ease-in, opacity 1s ease-in, 1s filter linear;
        
        -moz-transition: all 0.5s cubic-bezier(.63,.01,.52,1.56);
        -webkit-transition: all 0.5s cubic-bezier(.63,.01,.52,1.56);
        -ms-transition: all 0.5s cubic-bezier(.63,.01,.52,1.56);
        -o-transition: all 0.5s cubic-bezier(.63,.01,.52,1.56);
        transition: all 0.5s cubic-bezier(.63,.01,.52,1.56);
    }
}

.container.carousel {
    padding-top: 80px;
    padding-bottom: 60px;
    
    .inner-wrapper {
        width: 100%;
        display: inline-block;
    }
    
    .carousel-wrapper {
        margin-top: 60px;
        margin-bottom: 30px;
        position: relative;
        
        .slides-wrapper, .next, .prev {
            display: inline-block;
        }
        
        .slides-wrapper {
            background: none repeat scroll 0% 0% transparent;
            overflow: hidden;
            position: relative;
            width: 100%;
            
            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
                position: relative;
                transform: translateZ(0px);
                height: 300px;
                
                li {
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    margin-left: 100%;
                    
                    img {
                        width: 100%;
                    }
                }
            }
            
        } 
        
        .prev {
            position: absolute;
            left: 15%;
            top: 35%;
            z-index: 999;
            img {
                background: #FFF;
                padding: 20px 5px;
                opacity: 0.7;
            }
        }
        
        .next {
            position: absolute;
            right: 15%;
            top: 35%;
            z-index: 999;
            img {
                background: #FFF;
                padding: 20px 5px;
                opacity: 0.7;
            }
        }
        
        .bullets-wrapper {
            margin-top: 10px;
            ol.bullets {
                display: block;
                float: none;
                margin: 0px auto 30px;
                overflow: hidden;
                position: relative;
                text-align: center;
                top: 10px;
                
                li {
                    background: $primary-color;
                    cursor: pointer;
                    display: inline-block;
                    float: none;
                    height: 16px;
                    margin-right: 30px;
                    width: 16px;
                    border-radius: 100px;
                    
                    &.active {
                        background: $tertiary-color;
                    }
                }
            }
        }
    }
    
    .carousel-text {
        margin-bottom: 45px;
        width: 100%;
        display: inline-block;
        line-height: 25px;
    }
}

.container.video {
    $video-wrapper-height: 500px;
    background: url(../assets/video-still.jpg) no-repeat top center;
    height: $video-wrapper-height;
    vertical-align: middle;
    
    img.play-button {
        position: relative;
        top: 200px;
        cursor: pointer;
    }
    
    button.play-button {
        position: relative;
        cursor: pointer;
        top: 200px;
        width: 106px;
        height: 106px;
        border: none;
        background: url(../assets/player_large.png) no-repeat;
        text-indent: -99999px;
        
        &:hover {
            opacity: 0.5;
        }
    }
    
    .video-container {
        background: black;
        height: 100%;
        width: 100%;
        padding-top: 70px;
        video {
            width: 100%;
            max-height: 100%;
        }
    }
}

.container.team-in-sync {
    padding-top: 60px;
    padding-bottom: 75px;
    
    .custom-blue-button {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    
    a {
        color: $secondary-color;
    }
}

footer {
    .container.footer {
        font-size: 18px;
        line-height: 40px;
        padding-top: 55px;
        padding-bottom: 110px;
        border-top: 1px solid $tertiary-color;
        
        .footer-section-title {
            color: $tertiary-color;
            font-weight: bold;
        }
        
        ul {
            padding-left: 0;
            
            li {
                list-style: none;
                
                a {
                    color: $tertiary-color;
                }
            }
        }
        
        a.lang-selector {
            color: $tertiary-color;
        }
    }
}

.navigation-menu {
    min-height: 50px;
    border-bottom: 1px solid white;
    background: $tertiary-color;
    padding: 10px 15px;
    
    .brand {
        float: right;
        img {
            height: 40px;
        }
    }
    
    button.hamburger-button {
        display: inline;
        border: 1px solid white;
        color: $tertiary-color;
        background: white;
        border-radius: 3px;
        padding: 8px;
        cursor: pointer;
        
        &:hover {
            background: #EEE;
            border-color: #EEE;
        }
    }
}

.offcanvas-menu {
    width: $offcanvas-menu-width;
    min-width: $offcanvas-menu-width;
    background: $tertiary-color;
    position: fixed;
    z-index: 1050;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    border-radius: 0px;
    height: auto;
    padding: 20px 0px;
    font-size: 18px;
    border-right: 1px solid #777;
    left: -$offcanvas-menu-width;

    &.in {
        -webkit-animation: menuin .5s ease-in-out;
        -moz-animation: menuin .5s ease-in-out;
        animation: menuin .5s ease-in-out;
        left: 0px;
    }
    
    &.out {
        -webkit-animation: menuout .5s ease-in-out;
        -moz-animation: menuout .5s ease-in-out;
        animation: menuout .5s ease-in-out;
        left: -$offcanvas-menu-width;
    }

    a.brand {
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        float: left;
    }
    
    a {
        color: white;
    }
    
    ul {
        padding-left: 0px;
        
        li {
            list-style: none;
            padding: 10px 0;
            
            &.active {
                background: #000;
            }
            
            &:hover {
                background: $primary-color;
            }
            
            a {
                padding: 0 15px;
            }
            
        }
    }
    
    button.close-button {
        display: block;
        border: none;
        color: white;
        background: transparent;
        padding: 8px;
        cursor: pointer;
        margin-right: 10px;
        float: right;
    }
}

@media (max-width: 991) {
    .container.business {
        margin-left: 15px; //xyz
    }

    #devices {//xyz
        position: relative; margin-left: 0px; opacity: 1; -webkit-filter: blur(0px); -moz-filter: blur(0px);-o-filter: blur(0px);-ms-filter: blur(0px);filter: blur(0px);
    }
    #watch {
        position: relative; margin-left: 0px; opacity: 1; -webkit-filter: blur(0px); -moz-filter: blur(0px);-o-filter: blur(0px);-ms-filter: blur(0px);filter: blur(0px);
    }
    #key {
        position: relative; margin-left: 0px; opacity: 1; -webkit-filter: blur(0px); -moz-filter: blur(0px);-o-filter: blur(0px);-ms-filter: blur(0px);filter: blur(0px);
    }
}

@media (min-width: 768px) {
    .container.header {
        .center-column {
            padding-top: 100px;
            padding-bottom: 180px;
            .inner-wrapper {
                padding: 0 110px;
            }
        }
    }
    
    .container.video {
        .video-container {
            padding-top: 20px;
        }
    }
    
    .container.carousel {
        .inner-wrapper {
            width: 40%;
        }
        
        .carousel-text {
            width: 40%;
        }
    }

    footer {
        .container.footer {
            font-size: $small-text-size;
            line-height: 25px;
        }
    }
}

@media (min-width: 992px) {
    .container.video {
        .video-container {
            padding: 0px;
        }
    }
    
    .container.carousel { 
        .carousel-wrapper { 
            .slides-wrapper {
                width: 540px;
            }
            .prev { 
                img {
                    opacity: 1;
                }
            }
            
            .next { 
                img {
                    opacity: 1;
                }
            }
        }
    }
    
    .dropbox-business-features {//xyz
        margin-left: -170px;
        
        &.normal {
            margin-left: 15px;
            
            #devices {//xyz
                position: relative; margin-left: 0px; opacity: 1; -webkit-filter: blur(0px); -moz-filter: blur(0px);-o-filter: blur(0px);-ms-filter: blur(0px);filter: blur(0px);
            }
            #watch {
                position: relative; margin-left: 0px; opacity: 1; -webkit-filter: blur(0px); -moz-filter: blur(0px);-o-filter: blur(0px);-ms-filter: blur(0px);filter: blur(0px);
            }
            #key {
                position: relative; margin-left: 0px; opacity: 1; -webkit-filter: blur(0px); -moz-filter: blur(0px);-o-filter: blur(0px);-ms-filter: blur(0px);filter: blur(0px);
            }
        }
        
    }
    #devices {//xyz
        position: relative; margin-left: 90px; opacity: 0; -webkit-filter: blur(1px); -moz-filter: blur(1px);-o-filter: blur(1px);-ms-filter: blur(1px);filter: blur(1px);
    }
    #watch {
        position: absolute; margin-left: 420px; opacity: 0; -webkit-filter: blur(1px); -moz-filter: blur(1px);-o-filter: blur(1px);-ms-filter: blur(1px);filter: blur(1px);
    }
    #key {
        position: absolute; margin-left: 750px; opacity: 0; -webkit-filter: blur(1px); -moz-filter: blur(1px);-o-filter: blur(1px);-ms-filter: blur(1px);filter: blur(1px);
    }
}

/*
 * Retina display
*/
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .container.video {
        background-image: url("../assets/video-still@2x.jpg");
        background-size: 1500px 500px;

        button.play-button {
            width: 105px;
            height: 105px;
            background-image: url("../assets/player_large@2x.png");
            background-size: 105px 105px;
        }
    }
  }
/*
 * Animations
*/
@-webkit-keyframes slidein {
    from {
        top: 500px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes slidein {
    from {
        top: 500px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        top: 500px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

// Offcanvas menu in 
@-webkit-keyframes menuin {
    from {
        left: -$offcanvas-menu-width;
    }

    to {
        left: 0px;
    }
}

@-moz-keyframes menuin {
    from {
       left: -$offcanvas-menu-width;
    }

    to {
        left: 0px;
    }
}

@keyframes menuin {
    from {
        left: -$offcanvas-menu-width;
    }

    to {
        left: 0px;
    }
}

// Offcanvas menu out
@-webkit-keyframes menuout {
    from {
        left: 0px;
    }

    to {
        left: -$offcanvas-menu-width;
    }
}

@-moz-keyframes menuout {
    from {
       left: 0px;
    }

    to {
        left: -$offcanvas-menu-width;
    }
}

@keyframes menuout {
    from {
        left: 0px;
    }

    to {
        left: -$offcanvas-menu-width;
    }
}