/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:32:51 AM
    Author     : rsee
*/

@import "variables";

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1050px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}

.row {
    margin-left: $gutter /2;
    margin-right: $gutter /2;
}

.container:before, .container:after, .row:before, .row:after {
    display: table;
    content: " ";
}

.container:after, .row:after {
    clear: both;
}


// Extra small device (iphone)
$list: ();
@for $i from 1 through $columns {
    $list: join(".col-xs-#{$i}, ", $list);
}

#{$list} {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
}

@for $i from 1 through $columns {
    .col-xs-#{$i} {
      //width: $i * $column-width + $gutter * ($i - 1);
      width: percentage(($i / $columns));
    }
}

// small devices
@media (min-width: 768px) {
    $list: ();
    @for $i from 1 through $columns {
        $list: join(".col-sm-#{$i}, ", $list);
    }

    #{$list} {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: $gutter / 2;
        padding-left: $gutter / 2;
    }

    @for $i from 1 through $columns {
        .col-sm-#{$i} {
          width: $i * $column-width + $gutter * ($i - 1);
        }
    }
}

// Medium devices
@media (min-width: 992px) {
    $list: ();
    @for $i from 1 through $columns {
        $list: join(".col-md-#{$i}, ", $list);
    }

    #{$list} {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: $gutter / 2;
        padding-left: $gutter / 2;
        display: inline;
    }

    @for $i from 1 through $columns {
        .col-md-#{$i} {
          width: $i * $column-width + $gutter * ($i - 1);
        }
    }
//}

// large devices
//@media (min-width: 1200px) {
    $list-lg: ();
    @for $i from 1 through $columns {
        $list-lg: join(".col-lg-#{$i}, ", $list-lg);
    }

    #{$list-lg} {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: $gutter / 2;
        padding-left: $gutter / 2;
    }

    @for $i from 1 through $columns {
        .col-lg-#{$i} {
          width: $i * $column-width + $gutter * ($i - 1);
        }
    }
}

