/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 11:33:03 AM
    Author     : rsee
*/

// Grids
$columns: 12;
$column-width: 55px;
$gutter: 30px;

// Colors:
$primary-color: #007EE5;
$secondary-color: #8899A7;
$tertiary-color: #4C545A;

$body-text-color: $secondary-color;

$dark-blue: #0053BF;


// font size
$large-text-size: 37px;
$medium-text-size: 22px;
$default-text-size: 15px;
$small-text-size: 13px;

// Offcanvas menu variable
$offcanvas-menu-width: 300px;
